


img{
    position:fixed;
    top: 59px;
    left: 10px;
    margin: 1px;
    width: 140px;
    height: 160px;
    border-radius: 3cm;
}

.a{
   
    margin-left: 4cm;
    padding: 1cm;
   font-size: 55px;
   color:black;
   
}
.b{ margin-left: 4cm;
    position:fixed;
    top: 130px;
    left:70px;
   font-size: 35px;
   color:black;
   

}
.bgimage{
    background-image: url(irewolede-PvwdlXqo85k-unsplash.jpg);
    background-repeat: no-repeat;
    background-position:fill;
    background-position:0;
    
}